<!DOCTYPE html>


  <body vocab="http://schema.org/" typeof="WebPage">
    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="{{ site.data.i18n[page.lang].home_url | default: site.data.i18n.en.home_url }}">{{ site.data.i18n[page.lang].home | default: site.data.i18n.en.home }}</a>
      <a href="{{ site.data.i18n[page.lang].faq_url | default: site.data.i18n.en.faq_url }}">{{ site.data.i18n[page.lang].faq | default: site.data.i18n.en.faq }}</a>
      <a href="{{ site.data.i18n[page.lang].learn_url | default: site.data.i18n.en.learn_url }}">{{ site.data.i18n[page.lang].learn | default: site.data.i18n.en.learn }}</a>
      <a href="{{ site.data.i18n[page.lang].events_url | default: site.data.i18n.en.events_url }}">{{ site.data.i18n[page.lang].events | default: site.data.i18n.en.events }}</a>
      <a href="{{ site.data.i18n[page.lang].apply_url | default: site.data.i18n.en.apply_url }}">{{ site.data.i18n[page.lang].apply | default: site.data.i18n.en.apply }}</a>
      <a href="{{ site.data.i18n[page.lang].contact_url | default: site.data.i18n.en.contact_url }}">{{ site.data.i18n[page.lang].contact | default: site.data.i18n.en.contact }}</a>
    </div>
    
    <div id="main">
      <button class="openbtn" onclick="openNav()">&#9776;</button>
    </div>


    <script>
      function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
      }
      
      function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
      }
    </script>