* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
figure {
  margin: 0;
}
// For correct line number width in Github Gists
.gist table tbody tr td {
  box-sizing: content-box;
}
html {
  height: 100%;
  background: $background-color;
}

// Typography
::selection {
  background: $selection-color;
}
::-moz-selection {
  background: $selection-color;
}
body {
  @extend %font-size;
  min-height: 100%;
  color: $text-color;
  font-family: $font-family-main;
  word-wrap: break-word;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
  font-weight: normal;
  margin: 0.67em 0;
  a {
    color: $text-color;
  }
  color: rgba(69,116,181,1);
}
h1 {
  margin: 1em 0;
  font-size: 1.8em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.1em;
  color: rgba(69,116,181,1);
}
h4 {
  font-size: 1em;
}
blockquote {
    border-left: 2px solid;
    padding: 1em 1em;
}
blockquote p:last-child,
footer p:last-child {
  margin-bottom: 0;
}
table {
  table-layout:fixed;
  width:100%;
  word-wrap:break-word;
}
td,
th {
  padding: 0.5em 1em;
  border: 1px solid $border-color;
  text-align: left;
}
td {
  vertical-align: top;
}
th {
  vertical-align: bottom;
}
table,
dl,
blockquote,
code,
kbd,
pre,
samp {
  margin: 1em 0;
}
dt {
  font-weight: bold;
}
dd {
    margin-left: 2em;
}

ol, ul, dl {
  margin-bottom: 0em;
}

p {
  padding-top: 0em !important;
  padding-bottom: 1em !important;
}

p .math-display {
  line-height: 1.5;
  margin-bottom: 1em;
}
// Lists within lists
li > ul, li > ol {
    margin-bottom: 0;
    margin-left: 1em;
}
ol, ul {
  list-style-position: inside;
}
hr {
  border: 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid #fff;
  margin: 1em 0;
}
a {
  color: $link-color;
  text-decoration: none;
}
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
// Responsive media
iframe, img, embed, object, video {
  max-width: 100%;
}
img[align=left] {
  margin-right: 3%;
}
img[align=right] {
  margin-left: 3%;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1rem;

}

.grid2 {
  display: grid;
  grid-template-columns: 70% 25%;
  grid-gap: 1rem;

}

.item1 {
  background: rgb(233,234,243);
  grid-gap: 1rem;
  padding: 1.5rem;
  border-radius: 1rem;
  ul {
    list-style: square inside url('../img/x.png');
  }
  img{
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.item2 {
  background: rgb(208,236,232);
  grid-gap: 1rem;
  padding: 1.5rem;
  border-radius: 1rem;
  ul {
    list-style: square inside url('../img/check.png');
  }
  img{
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.one-pager {
  grid-gap: 1rem;
  padding-left: 1.5rem;
  border-radius: 1rem;
  a,img{
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  text-align: center;
}


.grid-plain {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 1rem;

  img{
    height: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  a, p, h3{
    margin-left: auto;
    text-align: center;
  }
  justify-items: center ;
  vertical-align: top;
}
.grid-plain > div {
  padding: 1.5rem;
  border-radius: 1rem;
  width: 250px;

}

.center {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
}

.call-out {
  padding-top: 0em !important;
  padding-bottom: 1em !important;
}

.dots {
  padding-top: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}


.inline-img-40  {
  img {
    width: 40%;
    float: left;
  }
  p{
      text-align: justify;
      
  }
  

  .center {
    text-align: center;

  }

}

ol.breadcrumb {
    padding-top: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    list-style: square inside;

}

li.breadcrumb-item {
   display: inline;
   content: ">";
}

li.breadcrumb-item:before {
  content: ">";
  padding-right: 5px;
}

.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 83px;
  left: 0;
  background-color: $sidebar-color; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: $sidebar-text-color;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
  background-color: #444;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: $sidebar-button-color;
  color: white;
  padding: 10px 15px;
  border: none;
  position: fixed; /* Stay in place */
  
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}



#container{width:100%;}
#left{float:left;width:100px;}
#right{float:right;width:100px;}
#center{  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;}

.line_break{
  width:100%;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}


/* CAROUSEL */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.signature {
  text-align: right;
}

/* Make the images invisible by default */
.Containers {
  width: 80%;
  margin: auto;
  padding: 3%;
  font-size: 0.85em;
  font-style: italic;
  border: 1px solid;
  color: $quote-text-color;
  border-color: $sidebar-button-color;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  box-shadow: 10px 10px rgb(0 0 0 / 5%);
  transition: all .4s ease;
}

/* forward & Back buttons */
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  background-color: $sidebar-button-color;
  color: white;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 4px 0 0 4px;
  user-select: none;
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 0 4px 4px 0;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
  background-color: #444;
  color: white;
}



/* The circles or bullets and indicators */
.dotty {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.div-center{
  text-align: center;
}

.enable, .dotty:hover {
  background-color: #717161;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}
