// Mix-ins
%padding-small {
  padding: $padding-x-small $padding-x-small * 2;
  @media (max-width: 768px) {
    padding: $padding-small * 2 $padding-small;
  }
}
%padding-regular {
  padding: $padding-small $padding-large;
  @media (max-width: 1000px) {
    padding: $padding-small * 1.5 $padding-large / 1.6;
  }
  @media (max-width: 576px) {
    padding: $padding-small * 1.5 $padding-small * 2;
  }
}
// Buttons
.button {
  position: relative;
  display: inline-block;
  padding: .5em 1em;
  margin: 1em .25em;

  color: $link-color;
  background: rgba(0,0,0,.05);
  
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgba(81,81,81,1) 0%, rgba(83,127,190,1) 100%);
    transition: all .2s;
  }

  &:hover {
    background: rgba(0,0,0,.06);
    &:after {
      height: 5px;  
    }
  }
}

.body-link {
  &:hover {
    text-decoration: underline;
    color: darken($link-color, 15%);
  }
}
// States
.disabled {
  opacity: 0.7;
}

iframe {
  display: block;
  border-style:none;
  width: 560px;
  height: 315px;
  margin: 0 auto;
}

.font-xl {
  font-size: 1.8em !important;
}

.font-lg {
  font-size: 1.4em !important;
}

.font-md {
  font-size: 1em !important;
}

.font-sm {
  font-size: 0.8em !important;
}

.margin-bottom-lg {
  margin-bottom: 1.5em !important;
}

.margin-bottom-md {
  margin-bottom: 1em !important;
}

.margin-bottom-sm {
  margin-bottom: .5em !important;
}

.list-inline {
  margin: 0;
  padding: 0;  
  display: inline-block;

  li {
    display: inline-block;
    list-style: none;
  }
}

.flex-clear {
  width: 100%;
  height: 0;
}

/* Hidden content, but available to screen readers */ 
.inv {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.show-mobile {
  display: none;
}

@media (max-width: 576px) {
  .show-mobile {
    display: inherit;
  }

  .hide-mobile {
    display: none;
  }
}

summary {
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #fff;
  color: #333;
  padding: 1rem;
  margin-bottom: 1rem;
  outline: none;
  border-radius: 0.25rem;
  text-align: left;
  cursor: pointer;
  position: relative;
}
details > summary::after {
  position: absolute;
  content: "+";
  right: 20px;
}
details[open] > summary::after {
  position: absolute;
  content: "-";
  right: 20px;
}
details > summary::-webkit-details-marker {
  display: none;
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

.faq__content{
padding:1rem;
}

@keyframes sweep {
  0%    {opacity: 0; margin-top: -10px}
  100%  {opacity: 1; margin-top: 0px}
}

/* belt system table */

.has-details {
  position: relative;
}

.details {
  position: absolute;
  top: 0;
  transform: translateY(70%) scale(0);
  transition: transform 0.1s ease-in;
  transform-origin: left;
  display: inline;
  background: white;
  z-index: 20;
  min-width: 400px;
  padding: 1rem;
  border: 1px solid black;
}

.has-details:hover span {
  transform: translateY(30%) scale(1);
}




.belts {
	margin: auto;
	width: 85%;
	border-collapse: collapse;
	border: 1px solid #fff; /*for older IE*/

  margin: 25px auto 50px auto;
  font-size: 0.9em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.belts td, th{
  padding: 12px 15px;;
}

.belts td {
  padding: 1rem;
  background: whitesmoke;
  border: 1px solid black;
}

.belts th{
  background: rgba(83,127,190,1);
  color: white;
}

.belts tbody tr {
  border-bottom: 1px solid #dddddd;
}

.belts tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.belts tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}


/* check marks */
/* Hide the browser's default checkbox */
.container {
  display: block;
  position: relative;
  margin: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
  
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgba(83,127,190,1);;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}